<tr>
	<td>[ENABLED][TITLE]</td>
	<td>[SOURCECODE]</td>
	<td>[TYPE]</td>
	<td>[SHARED]</td>
	<td><a href="javascript:ShowSourceDetails('[SOURCECODE]')" 
			title="Show more information about this source."
			id="files_source_more_link_[SOURCECODE]">More</a>
		<a href="/?module=files&sub=deletesource&sourcecode=[SOURCECODE]"><img
			src="/images/unknown.png" border="0" width="24" height="24" title="Delete this source." alt="Delete" /></a>
	</td>
</tr>
<tr>
	<td colspan="5">
		<div id="files_source_more_[SOURCECODE]" class="files_source_more_hidden">
			[MOREINFO]
		</div>
	</td>
</tr>
