#pageheader
{
	background: #000000;
	color: #FFFFFF;
	padding: 10px;
}

.pageheader_title
{
<<<<<<< HEAD
	font-size: 1.8em;
=======
	font-size: 2.2em;
>>>>>>> bd85ace10cbfd53db7ff2f999409f7b0dad1e94b
	font-weight: bold;
}

#pagebody
{
<<<<<<< HEAD
	border-style: solid;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 2px;
}

#btguru_searchbox
{
	position: float;
	float: right;
	width: 550px;
}

#btguru_title
{
	
}

#btguru_tabs
{
	width: 100%;
	background: #9A9A9A;
	height: 24px;
	
}

.btguru_tab
{
	float: left;
	width: 220px;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
}

#btguru_transmission_tab
{
	float: left;
	width: 220px;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 0px;
}

#btguru_search_tab
{
	float: left;
	width: 220px;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	
}

#btguru_extratabs
{
	margin-left: 600px;
	border-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	background: #9A9A9A;
}

#btguru_content
{
	border-style: solid;
	border-left-width: 2px;
	border-top-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	margin-top: 0px;
	overflow: scroll;
=======

>>>>>>> bd85ace10cbfd53db7ff2f999409f7b0dad1e94b
}

#results_tpb
{
	margin-left: 260px;
	margin-right: auto;
	width: 800px;
}

.result_result_new
{

}

.result_result_have
{
	background: #C0FFC0;
}

.result_name
{
	overflow: hidden;
	height: 18px;
	width: 550px;
}

.result_datesize
{
	font-size: 0.8em;
}

#transmission_current
{
	position: float;
	float: left;
<<<<<<< HEAD
	width: 500px;
=======
	width: 250px;
>>>>>>> bd85ace10cbfd53db7ff2f999409f7b0dad1e94b
}

.tran_current_torrent
{
	border-width: 1px;
	border-style: solid;
	padding-bottom: 5px;
}

.tran_current_name
{
	font-weight: bold;
	font-size: 0.8em;
	overflow: hidden;
	height: 16px;
}

.tran_current_state
{
	font-size: 0.8em;
	overflow: hidden;
}

.tran_current_stats
{
	font-size: 0.8em;
	overflow: hidden;
}
