.users_manager_header
{
	font-size: 1.4em;
	font-weight: bold;
	background: #000000;
	color: #FFFFFF;
}

.users_manager_adduserheader
{
	font-size: 1.4em;
	font-weight: bold;
}

.users_manager_groupman
{
	width: 300px;
	position: float;
	float: right;
}

.users_manager_moreinfo_hidden
{
	display: none;
	margin-left: 50px;
}

.users_manager_moreinfo_header
{
	font-size: 1.2em;
	font-weight: bold;
}
