<div id="btguru_settings">
	<form method="post" action="/">
	<input type="hidden" name="module" value="btguru" />
	<input type="hidden" name="sub" value="update-settings" />
	
	<fieldset>
		<legend>btguru Settings</legend>
		<table border="0">
			<tr>
				<td>Host:</td>
				<td><input type="text" value="[HOST]" name="hostname" /></td>
			</tr>
			<tr>
				<td>Port:</td>
				<td><input type="text" value="[PORT]" name="port" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Save" /></td>
			</tr>
		</table>
	</fieldset>
	</form>
</div>
