<form method="post" action="/">
	<input type="hidden" name="module" value="files" />
	<input type="hidden" name="sub" value="addsource" />
	<input type="hidden" name="sourcetype" value="smb" />
	
	<table border="0">
		<tr>
			<td>Title:</td>
			<td><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td>Code:</td>
			<td><input type="text" name="sourcecode" /></td>
		</tr>
		<tr>
			<td>Host:</td>
			<td><input type="text" name="hostname" /></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<td>Remote Path:</td>
			<td><input type="text" name="remotepath" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Add Source" /></td>
		</tr>
	</table>
</form>
	
