<div class="files_newsource_local_helper">
	<frameset>
		<legend>Drive Wizard</legend>
	
		<table border="0" width="100%">
			<tr>
				<td valign="top">
					<span class="files_newsource_localtbl_header">UUID</span>
					<table border="0">
						[EACHUUID]
					</table>
				</td>
				<td valign="top">
					<span class="files_newsource_localtbl_header">Label</span>
					<table border="0">
						[EACHLABEL]
					</table>
				</td>
				<td valign="top">
					<span class="files_newsource_localtbl_header">Device</span>
					<table border="0">
						[EACHDEVICE]
					</table>
				</td>
			</tr>
		</table>
	</frameset>
</div>
