<div class="files_newsource_local_helper">
	
		<table border="0" width="100%">
			<tr>
				<td valign="top">
					<span class="files_newsource_localtbl_header">UUID</span>
					<div class="files_newsource_local_column">
						<table border="0">
							[EACHUUID]
						</table>
					</div>
				</td>
				<td valign="top">
					<span class="files_newsource_localtbl_header">Label</span>
					<div class="files_newsource_local_column">
						<table border="0">
							[EACHLABEL]
						</table>
					</div>
				</td>
				<td valign="top">
					<span class="files_newsource_localtbl_header">Device</span>
					<div class="files_newsource_local_column">
						<table border="0">
							[EACHDEVICE]
						</table>
					</div>
				</td>
			</tr>
		</table>

</div>
