<div class="pitunes_header">
	PiTunes
</div>

<div class="pitunes_player">
	<div class="pitunes_currentlyplaying" id="pitunes_currentlyplaying_box">
		<marquee behavior="alternate" id="pitunes_currentlyplaying">&nbsp;</marquee>
	</div>
	<div class="pitunes_controls" id="pitunes_controls">
		<a href="javascript:Player.Prev()" title="Play Previous Track"><img onload="Player.Initialize()" src="/images/back.png" width="96" height="96" border="0"></a>
		<a href="javascript:Player.Rewind()" title="Rewind"><img src="/images/rewind.png" width="96" height="96" border="0"></a>
		<a href="javascript:Player.Stop()" title="Stop the track."><img src="/images/stop.png" width="96" height="96" border="0"></a>
		<a href="javascript:Player.PlayPause()" title="Play / Pause the track."><img src="/images/play.png" width="96" height="96" border="0"></a>
		<a href="javascript:Player.FastForward()" title="Fast forward"><img src="/images/fastforward.png" width="96" height="96" border="0"></a>
		<a href="javascript:Player.Next()" title="Play Next Track"><img src="/images/next.png" width="96" height="96" border="0"></a>
	</div>
</div>
<hr />
<table border="0" width="100%">
	<tr>
		<td valign="top">
			<div id="pitunes_playlist" class="pitunes_playlist">
				Playlist
			</div>
		</td>
		<td valign="top">
			<div id="pitunes_library" class="pitunes_library">
				Music Library
			</div>
		</td>
	</tr>
</table>
