<div class="addon_block_[ADDONCODE]">
	<table border="0" width="100%">
		<tr>
			<td width="112">
				<a href="/?module=addons&sub=viewavailable&code=[ADDONCODE]">[MODULEICON]</a>
			</td>
			<td valign="top">
				<div class="addon_block_description">
					<a href="/?module=addons&sub=viewavailable&code=[ADDONCODE]">[TITLE]</a> - 
					[VERSION] by [AUTHOR]<br />
					[DESCRIPTION]
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				[ADDONOPTIONS]
			</td>
		</tr>
	</table>
</div>
<hr />
