<div class="addons_screenshotpane">
	[SCREENSHOTS]
</div>

<div class="addons_headerbox">
	<div class="addons_headerbox_icon">
		<img src="/images/module-icons/[ICONURL].png" width="96" height="96" />
	</div>
	<span class="addons_headerbox_title">[TITLE]</span><br />
	<span class="addons_headerbox_version">by [AUTHOR] - v[VERSION] - [TTLDOWNLOADS] Downloads</span><br />
	<br />
	<span class="addons_headerbox_nav">
		<a href="javascript:Browser.ZoomOut()" title="Return to all Add-Ons">&lt;&lt; Back</a>
		 | Comments</span><br />
</div>
<hr />
[DESCRIPTION]
