.addons_moreinfo
{
	display: none;
}

.addons_header
{
	background: #000000;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight: bold;
}

.addons_row_installed
{
	background: #CCFFCC;
}

.addons_row_uninstalled
{

}

.addons_zoom
{
	display: none;
}

.addons_screenshotpane
{
	float: right;
	width: 350px;
}

.addons_headerbox_icon
{
	float: left;
	width: 100px;
}

.addons_headerbox_title
{
	font-size: 1.4em;
	font-weight: bold;
}

.addons_headerbox_version
{
	font-size: 0.9em;
}

.addons_headerbox_nav
{
	font-size: 1.2em;
	font-weight: bold;
}
