.files_source_more_hidden
{
	display: none;
}

.files_sources_moreinfo
{
	margin-left: 50px;
}

.files_browse_buttons
{
	background: #777777;
}

.files_browse_filelist
{
	background: #E0E0E0;
}

.files_smbextra_main
{
	font-size: 0.8em;
}

.files_smbextra_tableheader
{
	font-weight: bold;
}

.files_smbextra_tablerow
{
	background: #FFFFFF;
}

.files_smbextra_tablerow:hover
{
	background: #DDDDFF;
}

.files_newsource_local_eachrow
{
	background: #FFFFFF;
}

.files_newsource_local_eachrow:hover
{
	background: #DDDDFF;
}

.files_newsource_localtbl_header
{
	font-size: 1.2em;
	font-weight: bold;
}

.files_newsource_local_column
{
	border-style: solid;
	border-left-width: 2px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
